---
---

@import "{{ site.theme }}";


.page-header {
  background-image: url('/assets/media/milano1.jpg');
  background-size: 66.67% auto; // Adjusted background-size property
  height: 80vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.project-name {
  text-shadow: 5px 5px black;
}

.project-tagline {
  text-shadow: 2px 2px black;
  font-weight: bold;
  opacity: 1;
}
